@page "/"
@page "/Index"

@using System.Globalization
@using Radzen;
@using KomberNet.Models.Contracts;
@using KomberNet.Models.Organization;
@using KomberNet.UI.WEB.APIClient.Organization;
@using KomberNet.UI.WEB.Framework.Services;

@inherits BasePage

@inject IStringLocalizer<Resource> localizer

@inject DialogService DialogService
@inject IExceptionMessageService ExceptionMessageService

<PageTitle>Index</PageTitle>

<h1>@string.Format(this.localizer["Index_Title"], "Your ERP Name")</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<RadzenButton Text="Editar Clientes" Click="OpenCustomersAsync" />
<RadzenButton Text="Do something" Click="DoSomethingAsync" />

@code{

    [Inject]
    public IOrganizationGroupClient OrganizationGroupClient { get; set; }

    public async Task OpenCustomersAsync()
    {
        await this.DialogService.OpenAsync<CustomersSearch>("Imprimir os dados do cliente");
    }

    public async Task DoSomethingAsync()
    {
        var result = await this.ExceptionMessageService.GetResultOrHandleExceptionAsync<OrganizationGroupHandlerResponse>(async () =>
        {
            return await this.OrganizationGroupClient.PostAsync(new OrganizationGroupHandlerRequest()
            {
                Entity = new OrganizationGroup()
                {
                    Name = "Test",
                    DataState = DataState.Created
                }
            });
        });
    }
}
