@page "/login"
@using KomberNet.UI.WEB.Client.Auth;
@using KomberNet.UI.WEB.Models;

@inject IAuthService authService;

<RadzenCard>
    <h4 class="mb-4">Full Name</h4>
    <RadzenTextBox Class="w-100" @bind-Value="FullName" />

    <h4 class="mb-4">Login</h4>
    <RadzenTextBox Class="w-100" @bind-Value="Email" />

    <h4 class="mb-4">Password</h4>
    <RadzenPassword Class="w-100" @bind-Value="Password" />

    <RadzenButton Click=@(args => LoginAsync()) Text="Login" />

</RadzenCard>

@code {
    public string FullName { get; set; }

    public string Email { get; set; }

    public string Password { get; set; }

    private async Task LoginAsync()
    {
        await this.authService.InsertApplicationUserAsync(new ApplicationUserInsertRequest()
            {
                FullName = this.FullName,
                Email = this.Email,
                Password = this.Password,
            });

        var result = await this.authService.LoginAsync(new LoginRequest()
            {
                Email = this.Email,
                Password = this.Password,
            });
    }
}
