@using KomberNet.Models.Auth
@using KomberNet.UI.WEB.Client.Auth
@using KomberNet.UI.WEB.Client.Pages
@using KomberNet.UI.WEB.Framework.Services

@inject IUserService userService;
@inject IExceptionMessageService exceptionMessageService;
@inject IStringLocalizer<Resource> localizer;

<AuthorizeView>
    <Authorized>

        <RadzenLabel Text="@string.Format(this.localizer["LoginDisplay_Greetings"], context.User?.Claims.FirstOrDefault(x => x.Type.Contains(nameof(KomberNetClaims.FullName)))?.Value)" />

        <button class="nav-link btn btn-link" @onclick="SignOutAsync">@this.localizer["LoginDisplay_Logout"]</button>

    </Authorized>
    <NotAuthorized>
        <a href="login">@this.localizer["LoginDisplay_Login"]</a>
    </NotAuthorized>
</AuthorizeView>

@code {
    private async Task SignOutAsync()
    {
        await this.exceptionMessageService.HandleExceptionAsync(
            async () =>
            {
                await this.userService.LogoutAsync();
            });
    }
}
