@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>

        <div class="row align-items-center p-3 border-bottom">
            <div class="col">
                <div class="d-flex justify-content-end align-items-center">
                    <div class="me-3">
                        <ThemeSelector />
                    </div>
                    <div class="me-3">
                        <CultureSelector />
                    </div>
                    <LoginDisplay />
                </div>
            </div>
        </div>

        <RadzenDialog />
        <RadzenNotification />

        <hr />

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
